@import "../photoswipe/photoswipe.less";
@import "../Bootstrap-Image-Gallery/css/bootstrap-image-gallery.less";

.ps-gallery { list-style: none; padding: 0; margin: 0; }
.ps-gallery:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }

.thumbnails > .caption {
  text-align: center;
  font-style: italic;
}

.ps-gallery { list-style: none; padding: 0; margin: 0; }
.ps-gallery:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }

.collage {
/* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 4;
  -webkit-column-gap:   0px;
  -moz-column-count:    4;
  -moz-column-gap:      0px;
  column-count:         4;
  column-gap:           0px;

}
.collage img {
/* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  .collage {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
  }
}
@media (max-width: 1000px) {
  .collage {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
  }
}
@media (max-width: 800px) {
  .collage {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }
}
@media (max-width: 400px) {
  .collage {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
  }
}

.modal-gallery .modal-footer {
  text-align:center;
}

#downloadAll {
  vertical-align: text-bottom;
  float:right;
}

#title {
  float:left;
}

.image-count {
  font-style:italic;
}

.password-container {
  padding-top: 5px;
}

.primary-photo {
  display:block;
  margin-right:auto;
  margin-left:auto;
  margin-bottom:25px;
}

.details {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  bottom: 4px;
  color: white;
  background: black;
  background: rgba(0, 0, 0, 0.65);
  max-width: 100%;
  height: 40px;
  right: 5px;
  left: 5px;
  font: 14px/22px "Helvetica Neue",Helvetica Neue,Helvetica,Arial,sans-serif;
  text-decoration:none;

  .title {
    margin-left:7px;
    margin-top:10px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
  }

  .download {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 20px;
  }

  a, a:hover {
    color: white;
    text-decoration:none;
  }
}

div.ps-toolbar {
  font-size: 20px;

  .ps-toolbar-download {
    cursor: pointer;
    display: table-cell;
  }
}
